@model BudgetApp.ViewModels.CostCategoryViewModels.CostCategoryCreateEditVM

<div class="row text-theme text-center mb-4">
    <h1 class="display-1">
        Edit Category
    </h1>
</div>
<form method="post" asp-action="Edit" asp-controller="CostCategory">
    <input asp-for="@Model.ReturnUrl" type="hidden" />
    <input asp-for="@Model.ParentId" type="hidden" />
    <div class="form-row my-2">
        @Html.EditorFor(m => m.CostCategoryVM)
    </div>
    <div class="form-row mt-4">
        <button class="col-md-4 offset-md-4  col-8 offset-2 p-md-3 p-2 btn btn-theme mb-4" type="submit">Save</button>
        <button class="col-md-4 offset-md-4  col-8 offset-2 p-md-3 p-2 btn btn-theme" type="button" onclick="location.href='@Model.ReturnUrl'">Cancel</button>
    </div>
</form>
